@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(128.92deg, #ffd5a4 0.66%, #ff8a00 110.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* box-shadow: 1px 1px 10px 0px #ffffff40; */

.explore-bg {
  background: url('./assets/images/ExploreBg.png');
}
